/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #0085ca;
}

/* Estilos específicos para la plantilla pago_exitoso.html */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

/* Personaliza los estilos según tus preferencias */
